<?xml version="1.0" ?>
<robot name="end_effector" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find nekonote_description)/urdf/end_effector_A/end_effector_A.xacro" />

  <xacro:macro name="nekonote_end_effector" params="prefix">
    <xacro:end_effector_A prefix="${prefix}"/>
  </xacro:macro>
</robot>
